include ./layouts/main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Enviado

        
    body
        div(align="center")
            br
            H1(align="center") <i class="far fa-handshake"></i> Pedido Enviado
            br
            H1(align="center") Su pedido esta siendo preparado
            br
            H1(align="center") <i class="far fa-clock"></i>
            img(src="https://i.pinimg.com/originals/35/b9/3e/35b93ef8b6ff936de6d8524ebe4bfce2.gif" width="500" height="400")

              